* {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.main-title {
    font-size: 75px;
    text-align: center;
    font-weight: 800;
    font-family: "Brush script MT";
}

.sub-titles {
    font-size: 35px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}